# Dependencies
node_modules/
venv/
__pycache__/

# Build output
build/
dist/
coverage/

# Environment variables
.env*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/
